{% extends "AppBundle::base.html.twig" %}

{% block title %}Blog post{% endblock %}

{% block stylesheets %}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('bundles/app/plugins/blog/css/blog.css') }}" type="text/css" media="all" />
    {% stylesheets '@bootstrap_css' combine=true %}
        <link href="{{ asset_url }}" type="text/css" rel="stylesheet" />
    {% endstylesheets %}
{% endblock %}


{% block body %}
    <header>
        <div class="container text-center">
            <h1>#MANUFAKTURA OPINII</h1>
            {#<h3>Timeline</h3>#}
        </div>
    </header>

    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-3">
                lewa strona
            </div>
            <div class="col-md-9 col-sm-9">
                <nav class="navbar navbar-default no-margin no-border no-radius">
                    <div class="containers">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-i">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="#home">Home</a>
                        </div>
                        <div class="collapse navbar-collapse" id="navbar-i">
                            <ul class="nav navbar-nav navbar-right">
                                <li><a href="#home">Home</a></li>
                                <li><a href="#about">About</a></li>
                                <li><a href="#services">Services</a></li>
                            </ul>
                        </div>
                    </div>
                </nav>

                <main id="home" class="contents">
                    <div>
                        <div class="page-title text-center">
                            <div class="btn-tuday">18 styczeń 2017</div>
                        </div>

                        <ul class="timeline">
                            <li class="timeline-line"></li>


                            <li class="timeline-item">
                                <div class="timeline-badge">
                                    <div class="face right-face"><i class="material-icons">sentiment_satisfied</i></div>
                                    <div class="time right-time">11:18</div>
                                    <a href="#" class="dot"></a>
                                </div>
                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <div class="day_number">01</div>
                                        <div class="data_format">
                                            <div class="day_name">niedziela</div>
                                            <div class="month">styczeń 2017</div>
                                        </div>
                                    </div>
                                    <div class="timeline-content-title">
                                        Eu pid nunc urna integer
                                    </div>
                                    <div class="timeline-content">
                                        <ul>
                                            <li><code>CSS</code> added line 205 to 207 for <i>timeline date</i></li>
                                            <li><code>CSS</code> changed line @ 269 from <i>1199px to 991px</i></li>
                                            <li><code>HTML</code> + <code>CSS</code> and many more ... </li>
                                        </ul>
                                    </div>
                                    <div class="timeline-footer">
                                        <small class="text-muted">Timeline Footer</small>
                                    </div>
                                    <div class="author">by Tomasz Prokop</div>
                                </div>
                            </li>
                            <li class="timeline-item">
                                <div class="timeline-badge">
                                    <div class="face left-face"><i class="material-icons">sentiment_satisfied</i></div>
                                    <div class="time left-time">17:04</div>
                                    <a href="#"></a>
                                </div>
                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <div class="day_number">17</div>
                                        <div class="data_format">
                                            <div class="day_name">wtorek</div>
                                            <div class="month">styczeń 2017</div>
                                        </div>
                                    </div>
                                    <div class="timeline-content-title">
                                        Eu pid nunc urna integer
                                    </div>
                                    <div class="timeline-content">
                                        <p>Eu pid nunc urna integer, sed, cras tortor scelerisque penatibus facilisis a pulvinar, rhoncus sagittis ut nunc elit! Sociis in et? Rhoncus, vel dignissim in scelerisque. Dolor lacus pulvinar adipiscing adipiscing montes! Elementum risus adipiscing non, cras scelerisque risus penatibus? Massa vut, habitasse, tincidunt!</p>
                                        <p>Eu pid nunc urna integer, sed, cras tortor scelerisque penatibus facilisis a pulvinar, rhoncus sagittis ut nunc elit! Sociis in et?</p>
                                    </div>
                                    <div class="author">by Tomasz Prokop</div>
                                </div>
                            </li>
                            <li class="timeline-item">
                                <div class="timeline-badge">
                                    <div class="face right-face"><i class="material-icons">sentiment_satisfied</i></div>
                                    <div class="time right-time">17:04</div>
                                    <a href="#"></a>
                                </div>
                                <div class="timeline-panel">
                                    <div id="about" class="timeline-heading">About Timeline</div>
                                    <div class="timeline-content">
                                        <p><img class="img-responsive" src="http://placeimg.com/640/240/people"></p>
                                        <p>Rubber cheese say cheese bocconcini. Caerphilly cheese and biscuits squirty cheese airedale lancashire cheese and biscuits rubber cheese squirty cheese. Ricotta fromage frais port-salut danish fontina cream cheese queso edam ricotta. Gouda monterey jack blue castello stilton rubber cheese.</p>
                                    </div>
                                </div>
                            </li>
                            <li class="timeline-item">
                                <div class="timeline-badge"><a href="#"></a></div>
                                <div class="timeline-panel">
                                    <div id="services" class="timeline-heading">Services Timeline</div>
                                    <div class="timeline-content">
                                        <p>Eu pid nunc urna integer, sed, cras tortor scelerisque penatibus facilisis a pulvinar, rhoncus sagittis ut nunc elit! Sociis in et? Rhoncus, vel dignissim in scelerisque. Dolor lacus pulvinar adipiscing adipiscing montes! Elementum risus adipiscing non, cras scelerisque risus penatibus? Massa vut, habitasse, tincidunt!</p>
                                        <div class="row services-list">
                                            <div class="col-xs-4"><img class="thumbnail img-responsive" src="http://placeimg.com/640/640/tech"></div>
                                            <div class="col-xs-4"><img class="thumbnail img-responsive" src="http://placeimg.com/640/640/tech"></div>
                                            <div class="col-xs-4"><img class="thumbnail img-responsive" src="http://placeimg.com/640/640/tech"></div>
                                        </div>
                                        <p>Cottage cheese rubber cheese everyone loves. Cow monterey jack cheesy grin cauliflower cheese cheesy feet mozzarella emmental blue castello. Lancashire boursin blue castello taleggio babybel bocconcini fondue cheese triangles. Fromage frais cheese strings airedale boursin st. agur blue cheese squirty cheese pecorino.</p>
                                    </div>
                                    <div class="author">by Tomasz Prokop</div>
                                </div>
                            </li>
                            <li class="timeline-item">
                                <div class="timeline-badge"><a href="#"></a></div>
                                <div class="timeline-panel">
                                    <div class="timeline-heading">Media Timeline</div>
                                    <div class="timeline-content">
                                        <p>Eu pid nunc urna integer, sed, cras tortor scelerisque penatibus facilisis a pulvinar, rhoncus sagittis ut nunc elit! Sociis in et? Rhoncus, vel dignissim in scelerisque. Dolor lacus pulvinar adipiscing adipiscing montes! Elementum risus adipiscing non, cras scelerisque risus penatibus? Massa vut, habitasse, tincidunt!</p>
                                        <div class="timeline-embed">
                                            <iframe width="478" height="320" src="https://www.youtube.com/embed/G7q07dyIsX8?list=RDEMeI4zMDi6uvY6C8nWWWoZ1A&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="timeline-item">
                                <div class="timeline-badge"><a href="#"></a></div>
                                <div class="timeline-panel">
                                    <div class="timeline-heading">Contact Us Timeline</div>
                                    <div class="timeline-content">
                                        <p>Eu pid nunc urna integer, sed, cras tortor scelerisque penatibus facilisis a pulvinar, rhoncus sagittis ut nunc elit! Sociis in et? Rhoncus, vel dignissim in scelerisque. Dolor lacus pulvinar adipiscing adipiscing montes! Elementum risus adipiscing non, cras scelerisque risus penatibus? Massa vut, habitasse, tincidunt!</p>
                                        <div class="timeline-embed">
                                            <iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d15936.386801163795!2d101.61008935000001!3d3.0688275999999997!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2smy!4v1446881552869" width="478" height="320" frameborder="0" style="border:0" allowfullscreen></iframe>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <ul class="timeline">
                            <li class="timeline-line"></li>
                            <li class="timeline-group">
                                <a href="#" class="btn btn-primary"><i class="fa fa-calendar"></i> 2014</a>
                            </li>
                        </ul>
                    </div>
                </main>
            </div>
        </div>
    </div>


{% endblock %}
{% block javascripts %}
    <script src="{{ asset('bundles/app/plugins/blog/js/jquery-3.1.1.js') }}"></script>
    <script src="{{ asset('bundles/app/plugins/blog/js/jquery.blog.js') }}"></script>
    {% javascripts '@jquery_js' '@bootstrap_js' filter='?yui_js' combine=true %}
    {#<script src="{{ asset_url }}"></script>#}
    {% endjavascripts %}
{% endblock %}
