{% trans_default_domain 'FOSUserBundle' %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Logowanie</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">

    <link rel='stylesheet prefetch' href='http://fonts.googleapis.com/css?family=Open+Sans'>
    <link href="{{ asset('bundles/app/plugins/login/css/login_style.css') }}" rel="stylesheet">
</head>

<body>
<div class="cont">
    <div class="demo">
        <div class="login">
            <div class="app__top">
                <div class="app__menu-btn">
                    <span></span>
                </div>
                {#<svg class="app__icon search svg-icon" viewBox="0 0 20 20">
                    <!-- yeap, its purely hardcoded numbers straight from the head :D (same for svg above) -->
                    <path d="M20,20 15.36,15.36 a9,9 0 0,1 -12.72,-12.72 a 9,9 0 0,1 12.72,12.72"/>
                </svg>#}
                <p class="app__hello">Dzień dobry!</p>
                <div class="app__user">
                    <img src="//s3-us-west-2.amazonaws.com/s.cdpn.io/142996/profile/profile-512_5.jpg" alt=""
                         class="app__user-photo"/>
                    <span class="app__user-notif">3</span>
                </div>
                <div class="app__month">
                    <p class="app__month-name">Wybierz strefę</p>
                </div>
            </div>
            <div class="app__bot">
                <div class="app__meetings">
                    <div class="app__meeting">
                        <a href="{{ url('blogindexpost')}}">
                            <img src="http://s3-us-west-2.amazonaws.com/s.cdpn.io/142996/profile/profile-80_5.jpg" alt=""
                                 class="app__meeting-photo"/>
                            <p class="app__meeting-name">Chroniona</p>
                            <p class="app__meeting-info">
                                <span class="app__meeting-time">status: prywatny lub dla znajomych</span>
                                <span class="app__meeting-place"></span>
                            </p>
                        </a>
                    </div>
                    <div class="app__meeting">
                        <img src="//s3-us-west-2.amazonaws.com/s.cdpn.io/142996/profile/profile-512_5.jpg" alt=""
                             class="app__meeting-photo"/>
                        <p class="app__meeting-name">Publiczna</p>
                        <p class="app__meeting-info">
                            <span class="app__meeting-time">status: publiczny</span>
                            <span class="app__meeting-place"></span>
                        </p>
                    </div>
                    {#<div class="app__meeting">
                        <img src="//s3-us-west-2.amazonaws.com/s.cdpn.io/142996/profile/profile-512_5.jpg" alt=""
                             class="app__meeting-photo"/>
                        <p class="app__meeting-name">Blog</p>
                        <p class="app__meeting-info">
                            <span class="app__meeting-time">This button is just for demo ></span>
                        </p>
                    </div>#}
                </div>
            </div>
            <div class="app__logout">
                <svg class="app__logout-icon svg-icon" viewBox="0 0 20 20">
                    <path d="M6,3 a8,8 0 1,0 8,0 M10,0 10,12"/>
                </svg>
            </div>
        </div>
    </div>
</div>

<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>

<script src="{{ asset('bundles/app/plugins/login/js/jquery.login.js') }}"></script>

</body>
</html>
